/* .App {
    text-align: center;
    max-height: 25vh;
  } */
  
  .error {
    color: #b50000;
    font-size: 20px;
    font-weight: 500;
  }
  
  .input-area {
    display: flex;
    /* flex-direction: row; */
    margin: 5px 0px;
    /* align-content: center; */
    gap: 4px;
    max-width: 100vw;
  }
  
  .input-field {
    font-size: 14px;
    vertical-align: middle;
    transition: .5s;
    /* border-width: 2px; */
    
    color: black;
    /* padding: 12px 8px; */
    flex: 1;
    border-radius: var(--border-radius);
    padding: 10px 8px;
  }
  
  .input-field:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    outline: none;
  }
  
  .input-field:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
  }
  
  .submit-btn {
    background-color: rgb(235, 19, 95);
    color: #fff;
    /* padding: 12px 14px;
    vertical-align: middle;
    outline: none;
    border: none;
    font-size: 16px;
    transition: .5s;
    cursor: pointer; */
    
  }

  .clear-btn {
    background-color: rgb(111, 56, 222);
    
  }
  
  .submit-btn:hover {
    background-image: linear-gradient(#a463d9, #24deaa);
  }
  
  .text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gif-item {
    flex-basis: 19%;
  }
  
  img {
    max-width: 100%;
  }
  
  @media screen and (max-width: 992px) {
    .gif-item {
      flex-basis: 31%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .gif-item {
      flex-basis: 48%;
    }
  }